$estilo: (
  color: #224A5F,
  margenArriba: 25px
);

*{
  margin:0;
  padding:0;
  box-sizing: border-box;
}

.propiedadExtend {
  display: flex;
  flex-direction: column;
  align-items: center;
}


body {
  font-family: 'Lato', sans-serif;
  background: rgb(34,74,95) no-repeat;
  background: radial-gradient(circle, rgba(34,74,95,1) 0%, rgba(34,74,95,1) 62%, rgba(0,167,255,1) 100%);
}
 
header {
  height: 130px;
}


/*INDEX*/

.tituloIndex {
  text-align: center;
  margin-top: 60px;
}

.footerIndex {
  width: 100%;
  text-align: center;
  font-size: 1.3em;
}

.navbarColor {
  background-color: map-get($estilo , color);
  z-index: 1;
}

.containerImgTurismo {
  display: flex;
  justify-content: space-around;
  margin-top: map-get($estilo , margenArriba);
}

.turismo__footer {
  margin-top: map-get($estilo , margenArriba);
  width: 100%;
  text-align: center;
  font-size: 1.3em;
}

/*BENEFICIOS*/

#main__beneficios {
  @extend .propiedadExtend;
  margin-top: 3rem;
}

#main__div-1,
#main__div-2,
#main__div-3,
#main__div-4 {
  @extend .propiedadExtend;
  margin-bottom: 15px;
  text-align: center;
}

#footerBeneficios {
  text-align: center;
}


/*GREMIAL*/
.tituloGremial {
  margin-bottom: 50px;
}


.main__gremial {
  display: flex;
  flex-direction: column;
  text-align: center;
  margin-top: 60px;
  margin-left: 40px;
  margin-right: 40px;
}

.gremialImg1, 
.gremialImg2,
.gremialImg3, 
.gremialImg4 {
  margin: 25px 0;
}

.footer_gremial {
  text-align: center;
}

/*AFILIATE*/
.tituloAFiliate {
  margin-top: 70px;
}


#afiliateMain {
  display: flex;
  flex-direction: column;
  align-items: center;

  label {
    font-size: 1.7rem;
    text-align: center;
  }
}

.h1Afiliate {
  margin-top: 60px;
}

.formulario {
  margin-top: 10px;
  display: flex;
  flex-direction: column;

  #consulta {
    height: 120px;
  }

  input {
    height: 30px;
  }
}

.divAutoridades {
  margin-top: 40px;
  display: flex;
  justify-content: space-evenly;
  text-align: center;
}

.presidenta {
  margin-right: 40%;
}

.footerAfiliate {
  text-align: center;
  margin-top: 10px;
}