*{
  margin:0;
  padding:0;
  box-sizing: border-box;
}


body {
  font-family: 'Lato', sans-serif;
  background: rgb(34,74,95) no-repeat;
  background: radial-gradient(circle, rgba(34,74,95,1) 0%, rgba(34,74,95,1) 62%, rgba(0,167,255,1) 100%);
}
 
header {
  height: 130px;
}




/*INDEX*/
.background-header {
  background-color: #224A5F;
}


.footerIndex {
  width: 100%;
  text-align: center;
  font-size: 1.3em;
}

.navbarColor {
  background-color: #224A5F;
  z-index: 1;
}

.containerImgTurismo {
  display: flex;
  justify-content: space-around;
  margin-top: 25px;
}

.turismo__footer {
  margin-top: 25px;
  width: 100%;
  text-align: center;
  font-size: 1.3em;
}