@media (min-width: 1000px) {
    .turismo__footer {
      position: relative;
      top: 200px;
      margin: 0;
    }
  }


@media (min-width: 250px) and (max-width: 912px) {

    .containerImgTurismo {
        flex-direction: column;
    }

    .card {
        margin-bottom: 25px;
    }

    .turismo__img1, 
    .turismo__img2, 
    .turismo__img3 {
        margin-bottom: 50px;
    }

    .gremialImg1, 
    .gremialImg2,
    .gremialImg3,
    .gremialImg4 {
        max-width: 500px;
    }

    .img__presidenta,
    .img__vicepresidente {
        width: 250px;
        height: 180px;
    }
}

