@media (min-width: 300px) and (max-width: 1000px) {
    

    /*MEDIA QUERYS INDEX*/

    .ul__a {
        padding: 6px;
        font-size: 16px;
      }

    .noticiasFila1,
    .noticiasFila2 {
        display: flex;
        flex-direction: column;
        align-items: center;
        margin: 35px 0px;
    }

    #headerIndex {
        width: 100vw;
    }

    .index__li {
        transform: scale(0.8);
    }

    .div__img1,
    .div__img2,
    .div__img4,
    .div__img5,
    .div__img6 {
        margin-bottom: 15px;
    }

    .div__img3 {
        margin-bottom: -17px;
    }


    /*MEDIA QUERYS TURISMO*/

    .headerTurismo {
        width: 100%;
    }

    #mainTurismo {
        display: flex;
        flex-direction: column;
        justify-content: center;
        text-align: center;
    }

    .titulosTurismo {
        text-align: center;
    }

    .containerImgTurismo {
        flex-direction: column;
    }

}

